* {
  box-sizing: border-box; /* Всі елементи включають padding і border у власність width та height */
}

body {
  font-size: 14px; /* Розмір основного шрифта */
  margin: 0; /* Відступи від країв відсутні */
  padding: 0; /* Внутрішні відступи відсутні */
}

.v7_120 {
  width: 100%; /* Ширина на всю ширину батьківського контейнера */
  height: 100vh; /* Висота на весь висоту екрану */
  background: rgba(13,13,13,1); /* Колір фону в чорний */
  opacity: 1; /* Повна прозорість */
  position: relative; /* Позиціонування відносно власного місцезнаходження */
  top: 0px; /* Зсув зверху на 0 пікселів */
  left: 0px; /* Зсув зліва на 0 пікселів */
  overflow: hidden; /* Приховує вміст, що виходить за межі контейнера */
  display: flex; /* Відображення елементів у вигляді блоку */
  flex-direction: column; /* Напрямок відображення: по колонках */
  align-items: center; /* Вирівнювання елементів по центру по горизонталі */
  justify-content: center; /* Вирівнювання елементів по центру по вертикалі */
}

/* Убираємо мінімальну ширину для широких екранів */
@media (min-width: 992px) {
  .v7_120 {
    min-width: 992px; /* Мінімальна ширина контейнера на екранах ширше 992px */
  }
}

.v15_44 {
  width: 100%; /* Ширина на всю ширину батьківського контейнера */
  height: 100%; /* Висота на всю висоту батьківського контейнера */
  background: url("images/v15_44.png"); /* Фонове зображення */
  background-repeat: no-repeat; /* Вимикає повторення фонового зображення */
  background-position: center center; /* Позиціонування фонового зображення по центру */
  background-size: cover; /* Розмір фонового зображення "cover" */
  opacity: 1; /* Повна прозорість */
  position: absolute; /* Абсолютне позиціонування відносно першого непозиціонованого предка */
  top: 0px; /* Зсув зверху на 0 пікселів */
  left: 0px; /* Зсув зліва на 0 пікселів */
  overflow: hidden; /* Приховує вміст, що виходить за межі контейнера */
}

.v17_51 {
  width: 100%; /* Ширина на всю ширину батьківського контейнера */
  height: 100%; /* Висота на всю висоту батьківського контейнера */
  background: linear-gradient(rgba(0,0,0,1), rgba(212,12,12,0.6000000238418579)); /* Лінійний градієнт */
  opacity: 1; /* Повна прозорість */
  position: absolute; /* Абсолютне позиціонування відносно першого непозиціонованого предка */
  top: 0px; /* Зсув зверху на 0 пікселів */
  left: 0px; /* Зсув зліва на 0 пікселів */
  overflow: hidden; /* Приховує вміст, що виходить за межі контейнера */
}

.v13_8 {
  width: 100%; /* Ширина на всю ширину батьківського контейнера */
  color: rgba(13,13,13,1); /* Колір тексту в чорний */
  font-family: Astloch; /* Шрифт тексту */
  font-weight: Bold; /* Жирний шрифт */
  font-size: 320px; /* Розмір тексту */
  opacity: 1; /* Повна прозорість */
  text-align: center; /* Вирівнювання тексту по центру */
  position: relative; /* Позиціонування відносно власного місцезнаходження */
  z-index: 2; /* Індекс накладення для розташування поверх інших елементів */
}

.v15_47 {
  width: 100%; /* Ширина на всю ширину батьківського контейнера */
  color: rgba(255,223,142,1); /* Колір тексту */
  font-family: New Rocker; /* Шрифт тексту */
  font-weight: Regular; /* Звичайний шрифт */
  font-size: 96px; /* Розмір тексту */
  opacity: 1; /* Повна прозорість */
  text-align: center; /* Вирівнювання тексту по центру */
  position: relative; /* Позиціонування відносно власного місцезнаходження */
  z-index: 2; /* Індекс накладення для розташування поверх інших елементів */
  margin-top: 20px; /* Зсув зверху 20 пікселів */
}

.menu {
  display: flex; /* Відображення елементів у вигляді блоку */
  gap: 20px; /* Відстань між елементами 20 пікселів */
  position: absolute; /* Абсолютне позиціонування відносно першого непозиціонованого предка */
  top: 20px; /* Зсув зверху на 20 пікселів */
  z-index: 2; /* Індекс накладення для розташування поверх інших елементів */
}

.v15_33, .v15_31, .v15_32 {
  color: rgba(249,208,103,1); /* Колір тексту */
  font-family: New Rocker; /* Шрифт тексту */
  font-weight: Regular; /* Звичайний шрифт */
  font-size: 40px; /* Розмір тексту */
  opacity: 1; /* Повна прозорість */
  text-align: center; /* Вирівнювання тексту по центру */
}

/* Медіа-запит для мобільних пристроїв */
@media (max-width: 768px) {
  .v13_8 {
    font-size: 170px; /* Зменшений розмір тексту "Sangria" */
  }
  .v15_47 {
    font-size: 40px; /* Зменш
